
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

$aBeeZee: 'ABeeZee', sans-serif;

$champagne-pink: #eddcd2ff;
$linen: #fff1e6ff;
$pale-pink: #fde2e4ff;
$mimi-pink: #fad2e1ff;
$powder-blue: #c5deddff;
$mint-cream: #dbe7e4ff;
$isabelline: #f0efebff;
$alice-blue: #d6e2e9ff;
$beau-blue: #bcd4e6ff;
$pale-cerulean: #99c1deff;

h1 {
  font-size: 80px;
  // text-align: center;
}

h2 {
  font-size: 80px;
  // text-align: center;
}

h3 {
  font-size: 40px;
  // text-align: center;
}

// ? Nav

.navbar {
  background-color: $isabelline;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navItem {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
}

.navItem:hover {
  font-size: 25px;
  color: blue;
}

.hamburger-react {
  display: none;
}

// ? Home

.home {
  height: 95vh;
  font-family: $aBeeZee;
  background-color: $beau-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  color: black;
  width: 50%;
}
// ? About

.about {
  height: 95vh;
  font-family: $aBeeZee;
  background-color: $champagne-pink;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: flex-start;
}

.aboutHeader {
  text-align: center;
}

.aboutBody {
  display: flex;
  align-items: center;
}

.aboutImageContainer {
  flex: 0.4;
  max-width: 120px;
  height: 150px;
  // border: 5px black solid;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
}

.aboutTextContainer {
  flex: 1;
  margin: 20px;
  max-width: 80%;
  text-align: center;
  // border: 5px black solid;
}

.aboutText {
  margin: 30px;
}

// ? Portfolio

.portfolio {
  height: 95vh;
  font-family: $aBeeZee;
  background-color: $powder-blue;
  display: flex;
  // text-align: center;
}

// ? Skills

.skills {
  height: 95vh;
  font-family: $aBeeZee;
  background-color: $mint-cream;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 50%;
  border: 5px solid black;
}

.icon {
  display: flex;
  flex-direction: column;
  font-size: 80px;
  // flex-basis: 25%;
  margin: 15px;
  border: none;
}

.icon:hover {
  color: blue;
  font-size: 85px;
}

.skillName {
  display: none;
}

// ? Contact

.contact {
  height: 95vh;
  font-family: $aBeeZee;
  background-color: $pale-cerulean;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactIcons {
  justify-content: center;
}

.contactIcon {
  font-size: 50px;
  margin: 10px;
}

