
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

$aBeeZee: 'ABeeZee', sans-serif;

$linen: #fff1e6ff;


$platinum: #e2e2dfff;
$light-gray: #d2d2cfff;
$champagne-pink: #e2cfc4ff;
$unbleached-silk: #f7d9c4ff;
$papaya-whip: #faedcbff;
$light-cyan: #c9e4deff;
$beau-blue: #c6def1ff;
$languid-lavender: #dbcdf0ff;
$orchid-pink: #f2c6deff;
$baby-pink: #f9c6c9ff;


body, html {
  margin: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 80px;
  margin: 20px;
}

h3 {
  font-size: 40px;
}

// ? Nav

.navbar {
  // background-color: $isabelline;
  position: fixed;
  width: 98%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navItem {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
}

.navItem:hover {
  font-size: 25px;
  color: blue;
}

.hamburger-react {
  display: none;
}

// ? Home

#home {
  height: 100vh;
  font-family: $aBeeZee;
  background-color: $languid-lavender;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  color: black;
  width: 50%;
}
// ? About

#about {
  min-height: 50vh;
  font-family: $aBeeZee;
  background-color: $beau-blue;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: flex-start;
}

.aboutHeader {
  text-align: center;
  margin: 25px;
}

.aboutBody {
  display: flex;
  align-items: center;
}

.aboutImageContainer {
  flex: 0.4;
  max-width: 120px;
  height: 150px;
  // border: 5px black solid;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
}

.aboutTextContainer {
  flex: 1;
  margin: 20px;
  max-width: 80%;
  text-align: center;
  // border: 5px black solid;
}

.aboutText {
  margin: 30px;
}

// ? Portfolio

#portfolio {
  height: 100vh;
  font-family: $aBeeZee;
  background-color: $light-cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolioHolder {
  width: 80%;
  height: 80%;
  margin-bottom: 50px;
  background-color: $linen;
}

// ? Skills

#skills {
  min-height: 100vh;
  font-family: $aBeeZee;
  background-color: $papaya-whip;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconsBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px;
  width: 60%;
}

.icon {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  margin: 15px;
  border: none;
}

.skillName {
  text-align: center;
  padding: 5px;
  font-size: 10px;
  opacity: 0;
}

.icon:hover {
  color: blue;
  font-size: 110px;
  .skillName {
    opacity: 1;
  }
}

// ? Contact

#contact {
  // height: 50vh;
  font-family: $aBeeZee;
  background-color: $baby-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactIcons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  margin-bottom: 20px;
}

.contactIcon {
  font-size: 100px;
  margin: 10px;
  color: black;
}

a {
  text-decoration: none;
}

// ? Footer

footer {
  padding: 10px;
  margin: 5px;
}

// ? Back to top button
